<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <p>Hello <%= current_user.email %>!</p>
  <p>Your are a [<%= current_user.role %>]</p>
  <p>
    You have successfully authenticated with your Devices account.
    Your are ready to interact with this application.

    resumindo... Você está logado, portanto poderar interagir com o aplicativo.
  </p>
  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <p>Sorry, you need sign-in</p>
  <%= link_to "Sign Up!", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path%>
<% end %>